        <div id="content" class="site-content center-relative">
          <div class="single-post-wrapper content-1070 center-relative">

            <article class="center-relative">
              <h1 class="entry-title">
                Logros y objetivos alcanzados
              </h1>
              <div class="post-info content-660 center-relative">
                <div class="cat-links">
                  <ul>
                    <li style="color: #d12a10;">César Robles Abarca</li>
                  </ul>
                </div>
                <div class="entry-date published">Desarrolador / Coordinador de sistemas</div>
                <div class="clear"></div>
              </div>

              <div class="entry-content">
                <div class="content-wrap content-660 center-relative">
                  <p>He sido responsable de aumentar la eficiencia de las áreas productivas de las organizaciones en las
                    que me he desenvuelto, implementando soluciones administrativas y de negocio, mediante el
                    seguimiento continuo de mis clientes internos, asegurando la calidad en los sistemas computacionales.
                    He coordinado clientes y proveedores internos, con liderazgo e involucramiento, enfrentando los
                    retos y objetivos que plantean las organizaciones. Siempre con adaptabilidad al cambio, innovación,
                    trabajo en equipo en condiciones de alta presión.</p>
                  <br>
                  <div class="clear"></div>
                </div>
              </div>

                <div class="content-1070 center-relative entry-content">
                  <div class="content-900 center-relative">
                    <h1 class="entry-title">Desarrolladora A&L</h1>
                    <div class="one_half ">
                      <p>• Diseñé, coordiné e implementé el sistema de facturación con complementos de pagos integrado
                        al ERP SAP Business One mediante SAP Business One Integration Framework (B1if).
                        <br>
                        • Corrección y mejoras a los sistemas de facturación, contabilidad, producción y CRM; sistemas
                        desarrollados previamente dentro de la empresa en ASP.NET C#.</p>
                    </div>
                    <div class="one_half last">
                      <p>• Los nuevos sistemas se realizaron con el lenguaje PHP, corrigiendo módulos que operaban de
                        manera incorrecta o no tenían el alcance pretendido por la empresa.
                        <br>
                        • Detección y corrección de errores en servidores, cuentas de correo, hosting, dominios, VPN’s,
                        implementaciones, que significaron un gran ahorro a la empresa.
                        <br>
                        • Diseñé y gestioné un sistema de control para el pago a proveedores, seguimiento y
                        administración en la facturación de estos.</p>
                      <br>
                    </div>
                    <div class="clear"></div>

                  </div>
                </div>

                <div class="content-1070 center-relative entry-content">
                  <div class="content-900 center-relative">
                    <h1 class="entry-title">Seguro Popular</h1>
                    <div class="one_half ">
                      <p>• Diseñé, coordiné e implementé 6 sistemas de automatización de procesos, vinculando a
                        instituciones externas, optimizando tiempos de entrega, confiabilidad en la información y
                        eficiencia de costos.
                        <br>
                        • Diseñé, coordiné e implementé un sistema de ERP para el monitoreo de KPIs, obteniendo una
                        evaluación constante de la fuerza de trabajo, y reportes en tiempo real para la alta gerencia;
                        usando las bases de datos establecidas por el sistema SAP.</p>
                    </div>
                    <div class="one_half last">
                      <p>• Diseñé, desarrollé e implementé un programa de capacitación para el Sistema de Administración
                        de Padrón, identificando las áreas de oportunidad e implementando acciones correctivas y
                        preventivas.
                        <br>
                        • Los sistemas fueron desarrollados bajo los estándares establecidos, creando sistemas RESTful.
                      </p>
                      <br>
                    </div>
                    <div class="clear"></div>
                    <br>
                    <br>
                    <div class="clear"></div>
                  </div>
                </div>

                <div class="content-1070 center-relative entry-content">
                  <div class="content-900 center-relative">
                    <h1 class="entry-title">Hospital Juárez de México</h1>
                    <div class="one_half ">
                      <p>• Diseñé y gestioné un sistema de control para la organización y depuración de archivos,
                        mejorando la eficiencia en la búsqueda y uso de la información usando el framework de PHP,
                        Laravel.
                        <br>
                        • Implementé un programa de capacitación para el personal mejorando las habilidades en el uso de
                        las herramientas digitales, aumentado la productividad de los clientes internos.</p>
                    </div>
                    <div class="one_half last">
                      <p>• Diseñé, coordiné e implementé el sistema de atención a usuarios, aumentando la productividad
                        de las áreas operativas y mejorando el índice de satisfacción del cliente. Cambiando sistemas
                        hechos con bases de datos en Access a bases de datos mas robustas en MySQL y lenguaje de
                        programación PHP.</p>
                      <br>
                    </div>
                    <div class="clear"></div>
                    <br>
                    <br>
                    <div class="clear"></div>
                  </div>
                </div>

                <div class="content-1070 center-relative entry-content">
                  <div class="content-900 center-relative">
                    <h1 class="entry-title">McGraw-Hill</h1>
                    <div class="one_half ">
                      <p>• Diseñé, desarrollé y coordiné las estrategias de contenido digital de las 4 divisiones de la
                        organización, aumentando el posicionamiento de las líneas de producto. Mediante herramientas de
                        Adobe, JavaScript, JQuery y programación en PHP.</p>
                    </div>
                    <div class="one_half last">
                      <p>• Establecí una alianza estratégica con Microsoft para desarrollar aplicaciones de contenido
                        que permitieron aumentar la penetración de mercado.
                        <br>
                        • Desarrollé y coordiné la estrategia multimedia de productos especiales, diferenciando a la
                        organización dentro del mercado.</p>
                      <br>
                    </div>
                    <div class="clear"></div>
                    <br>
                    <br>
                    <div class="clear"></div>
                  </div>
                </div>

                <div class="clear"></div>
            </article>
          </div>
        </div>