        <div id="content" class="site-content center-relative">
          <div class="single-post-wrapper content-1070 center-relative">

            <article class="center-relative">
              <h1 class="entry-title">
                Educación profesional
              </h1>

              <div class="entry-content">
                <div class="content-wrap content-660 center-relative">
                  <p>La educación profesional es el inicio de una carrera exitosa, es el parteaguas que nos encamina a
                    una vida como profesionista de calidad. Posteriormente hay otras formas de mantener actualizado el conocimiento 
                    sin obtener alguna certificación, pero, como base debemos tener instituciones educativas
                    que respalden y comprueben nuestro conocimiento.</p>
                  <br>
                </div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Maestría En Ciencias Computacionales Y Telecomunicaciones</li>
                    </ul>
                  </div>
                  <div class="entry-date published">IEU </div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Modelado en UML</li>
                    </ul>
                  </div>
                  <div class="entry-date published">Geniux Training Center</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Licenciatura en sistemas computacionales</li>
                    </ul>
                  </div>
                  <div class="entry-date published">CUE</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Carrera de Desarrollo Backend con PHP</li>
                    </ul>
                  </div>
                  <div class="entry-date published">Platzi</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Robótica</li>
                    </ul>
                  </div>
                  <div class="entry-date published">CUE</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">PhotoShop</li>
                    </ul>
                  </div>
                  <div class="entry-date published">CUE</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Ingeniería en Sistemas Computacionales</li>
                    </ul>
                  </div>
                  <div class="entry-date published">ITA</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Certificación CISCO CCNA</li>
                    </ul>
                  </div>
                  <div class="entry-date published">ITA</div>
                  <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </article>
          </div>
        </div>