        <!-- Single Content -->
        <div id="content" class="site-content center-relative">
          <div class="single-post-wrapper content-1070 center-relative">

            <article class="center-relative">
              <h1 class="entry-title">
                Me gusta seguir creciendo y aprendiendo
              </h1>
              <div class="post-info content-660 center-relative">
                <div class="cat-links">
                  <ul>
                    <li style="color: #d12a10;">César Robles Abarca</li>
                  </ul>
                </div>
                <div class="entry-date published">Desarrolador / Coordinador de sistemas</div>
                <div class="clear"></div>
              </div>

              <div class="entry-content">
                <div class="content-wrap content-660 center-relative">
                  <p>La tecnología avanza y crece continuamente, no hay descanso porque siempre
                    existen nuevos desarrollos que son presentados mes con mes. Cuando tomé la decisión de
                    estudiar mi maestría estaba consciente de ello, pero, también me di cuenta de que no serían los
                    últimos estudios que cursaría.</p>
                  <br>
                  <div class="clear"></div>
                </div>

                <div class="content-wrap content-660 center-relative ">
                  <p>Me gusta estar actualizado, aprender cosas nuevas, ampliar mis conocimientos y habilidades; no
                    todos los conocimientos se adquieren por medio de cursos, diplomados o estudios en general, muchos se
                    adquieren con la práctica, la experiencia que solo un trabajo puede dar. Es por eso que también me
                    atraen nuevos retos profesionales, porque no hay mejor forma de probar las habilidades que en un
                    ambiente real.</p>
                  <br>
                  <p class="wrap-blockquote">El compromiso con la empresa y nuevo equipo de trabajo es fundamental para
                    demostrar que soy capaz de afrontar y resolver las nuevas exigencias y retos que conlleva un
                    escenario nuevo e incierto.</p>
                  <blockquote class="inline-blockquote">
                    <p>Sin continuo crecimiento y perseverancia, palabras como mejora, logro y éxito no tienen
                      significado (Benjamin Franklin).</p>
                  </blockquote>
                  <p class="wrap-blockquote"> Soy una persona profesional y comprometida que gusta mucho de
                    crecer y aportar.</p>
                  <br>
                  <br>
                  <img src="../../../assets/images/code.jpg" alt="">
                  <br>
                  <br>
                </div>
              </div>
              <div class="clear"></div>
            </article>
          </div>
        </div>
