        <div id="content" class="site-content about page page-template-default">

          <div class="page-header-image relative" style="line-height: 0 !important;">
            <img src="../../../assets/images/workex.jpg" alt="About">
          </div>


          <article>
            <div class="content-1070 center-relative entry-content">
              <div class="content-900 center-relative">
                <h1 class="entry-title" style="font-size: 55px;">Experiencia Laboral</h1>
                <br>
                <br>
                <div class="clear"></div>
              </div>
              <div class="page-full-width ">
                <div class="team-holder ">
                  <div class="member relative one ">
                    <img src="../../../assets/images/ayl.png" alt="">
                    <div class="member-info">
                      <div class="member-name">Desarrolladora A&L</div>
                      <div class="member-position">Coordinador de Sistemas</div>
                      <div class="member-content">
                        <p align="justify">Encargado y responsable de la planeación, desarrollo, corrección e
                          implementación de sistemas de facturación, contables, CRM, ERP y producción; dichos sistemas
                          entregan reportes y resultados confiables de la operación de la empresa.</p>
                        <br>
                        <p align="justify">Control y administración de redes, CCTV, PBX, servidores. Responsable del
                          correcto funcionamiento de los equipos de computo.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <br>
              <div class="page-full-width ">
                <div class="team-holder ">
                  <div class="member relative one ">
                    <img src="../../../assets/images/Logo_seguro_popular.png" alt="" style="padding-bottom: 120px;">
                    <div class="member-info">
                      <div class="member-name">Seguro Popular</div>
                      <div class="member-position">Desarrollador / Coordinador de Sistemas</div>
                      <div class="member-content">
                        <p align="justify">Responsable de la planeación, desarrollo e implementación sistemas de gestión
                          de información para la estrategia de administración de recursos, medición de KPIs y toma de
                          decisiones, vinculando a stakeholders, instituciones públicas y privadas.</p>
                        <br>
                        <p align="justify">Mantenimiento y administración de servidores, capacitación de personal
                          administrativo.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <br>
              <div class="page-full-width ">
                <div class="team-holder ">
                  <div class="member relative one ">
                    <img src="../../../assets/images/hospitaljuarez.jpg" alt="">
                    <div class="member-info">
                      <div class="member-name">Hospital Juárez de México</div>
                      <div class="member-position">Desarrollador / Coordinador de Arquitectura de aplicaciones</div>
                      <div class="member-content">
                        <p align="justify">Responsable de la planeación, desarrollo e implementación de aplicaciones
                          para la gestión de inventarios, clientes, proveedores, costos y demás información de negocio,
                          generando reportes para la toma de decisiones.</p>
                        <br>
                        <p align="justify">Administración de recursos, analisis, evaluación y seguimmiento de los
                          desarrollos tecnológicos de proveedores.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <br>
              <div class="page-full-width ">
                <div class="team-holder ">
                  <div class="member relative one ">
                    <img src="../../../assets/images/McGrawHill.jpg" alt="">
                    <div class="member-info">
                      <div class="member-name">McGraw-Hill</div>
                      <div class="member-position">Desarrollador / Web Manager</div>
                      <div class="member-content">
                        <p align="justify">Responsable de la creación, desarrollo e implementación de sistemas de
                          administración para la operación y producción de más de 120 nuevos productos al año, así como
                          el desarrollo y validación de herramientas digitales para la estrategia de mercadotecnia de la
                          organización en los mercados de México y LATAM.</p>
                        <br>
                        <p align="justify">Evaluación del desarrollo digital por parte de proveedores y terceros para
                          las áreas de producción de la empresa.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <br>
              <div class="page-full-width ">
                <div class="team-holder ">
                  <div class="member relative one ">
                    <img src="../../../assets/images/others.png" alt="">
                    <div class="member-info">
                      <div class="member-name">Secretaria de Salud</div>
                      <div class="member-position">Desarrollador</div>
                      <div class="member-name">Grupo Diniz</div>
                      <div class="member-position">Líder de Guías</div>
                      <div class="member-name">Grupo Farmapronto</div>
                      <div class="member-position">Implementador de Sistemas</div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </article>
        </div>