        <div id="content" class="site-content center-relative">
          <div class="single-post-wrapper content-1070 center-relative">

            <article class="center-relative">
              <h1 class="entry-title">
                Conocimientos y habilidades
              </h1>

              <div class="entry-content">
                <div class="content-wrap content-660 center-relative">
                  <p>Tanto como las habilidades como el conocimiento se obtienen del estudio, ya sea por medio de algún
                    maestro o institución o siendo autodidacta; la experiencia también te otorga dichos beneficios y
                    esta se logra mediante el trabajo. En conjunto de estas dos fuentes podemos mejorar continuamente.
                  </p>
                  <br>
                </div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">HTML5</li>
                    </ul>
                  </div>
                  <div class="entry-date published">lenguaje básico de la World Wide Web</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Bootstrap</li>
                    </ul>
                  </div>
                  <div class="entry-date published">biblioteca multiplataforma para diseño de aplicaciones web</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">JavaScript</li>
                    </ul>
                  </div>
                  <div class="entry-date published">lenguaje de programación interpretado</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">PHP</li>
                    </ul>
                  </div>
                  <div class="entry-date published">lenguaje de programación del lado del servidor</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Laravel</li>
                    </ul>
                  </div>
                  <div class="entry-date published">framework para desarrollar aplicaciones y servicios web</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">JQuery</li>
                    </ul>
                  </div>
                  <div class="entry-date published">biblioteca multiplataforma de JavaScript</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Vue</li>
                    </ul>
                  </div>
                  <div class="entry-date published">framework de JavaScript para interfaces de usuario</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Ruby on rails</li>
                    </ul>
                  </div>
                  <div class="entry-date published">framework de aplicaciones web</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">MySQL</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema de gestión de base de datos</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Oracle database</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema de gestión de base de datos</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">SQL server</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema de gestión de base de datos</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">CSS</li>
                    </ul>
                  </div>
                  <div class="entry-date published">Hojas de estilo en cascada</div>
                  <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </article>
          </div>
        </div>