        <!-- Home Content -->
        <div id="content" class="site-content">
          <div id="blog-wrapper">
            <div class="blog-holder center-relative">


              <article id="post-1" class="blog-item-holder featured-post">
                <div class="entry-content relative">
                  <div class="content-1170 center-relative">
                    <div class="cat-links">
                      <ul>
                        <li style="color: #d12a10;">Curriculum Vitae</li>
                      </ul>
                    </div>
                    <div class="entry-date published">México, 2019</div>
                    <h2 class="entry-title" style="text-align:left;">
                      <a [routerLink]="['/me']">César Robles Abarca</a>
                    </h2>
                    <div class="excerpt justify">
                      Ingeniero en Sistemas, con Maestría en Ciencias Computacionales & Telecomunicaciones, con más de
                      10 años de experiencia en Planeación, Coordinación, Desarrollo e Implementación de Bases de Datos,
                      Desarrollos Web, Sistemas de Negocio, Micrositios, Soporte Técnico, Capacitación, en los sectores
                      de Servicio, Producción y Salud. <a class="read-more" [routerLink]="['/me']"></a>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </article>


              <article id="post-2" class="blog-item-holder">
                <div class="entry-content relative">
                  <div class="content-1170 center-relative">
                    <h2 class="entry-title">
                      <a [routerLink]="['/experiencia']" data-nav-section="about">Experiencia profesional</a>
                    </h2>
                    <div class="cat-links">
                      <ul>
                        <li>
                          <a [routerLink]="['/experiencia']">La única fuente de conocimiento es la experiencia.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="entry-date published">Albert Einstein</div>
                    <div class="clear"></div>
                  </div>
                </div>
              </article>


              <article id="post-3" class="blog-item-holder">
                <div class="entry-content relative">
                  <div class="content-1170 center-relative">
                    <h2 class="entry-title">
                      <a [routerLink]="['/logros']">Logros</a>
                    </h2>
                    <div class="cat-links">
                      <ul>
                        <li>
                          <a [routerLink]="['/logros']">El punto de partida de todo logro es el deseo.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="entry-date published">Napoleón Hill</div>
                    <div class="clear"></div>
                  </div>
                </div>
              </article>



              <article id="post-4" class="blog-item-holder">
                <div class="entry-content relative">
                  <div class="content-1170 center-relative">
                    <h2 class="entry-title">
                      <a [routerLink]="['/educacion']">Educación profesional</a>
                    </h2>
                    <div class="cat-links">
                      <ul>
                        <li>
                          <a [routerLink]="['/educacion']">La educación es un ornamento en la prosperidad y un refugio en la
                            adversidad.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="entry-date published">Aristoteles</div>
                    <div class="clear"></div>
                  </div>
                </div>
              </article>



              <article id="post-5" class="blog-item-holder">
                <div class="entry-content relative">
                  <div class="content-1170 center-relative">
                    <h2 class="entry-title">
                      <a [routerLink]="['/conocimientos']">Conocimientos y habilidades</a>
                    </h2>
                    <div class="cat-links">
                      <ul>
                        <li>
                          <a [routerLink]="['/conocimientos']">El único bien es el conocimiento, y el único mal la
                            ignorancia.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="entry-date published">Diógenes el Cínico</div>
                    <div class="clear"></div>
                  </div>
                </div>
              </article>



              <article id="post-6" class="blog-item-holder">
                <div class="entry-content relative">
                  <div class="content-1170 center-relative">
                    <h2 class="entry-title">
                      <a [routerLink]="['/software']">Dominio de software</a>
                    </h2>
                    <div class="cat-links">
                      <ul>
                        <li>
                          <a [routerLink]="['/software']">Vale más saber alguna cosa de todo, que saberlo todo de una sola
                            cosa.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="entry-date published">Blaise Pascal</div>
                    <div class="clear"></div>
                  </div>
                </div>
              </article>

            </div>

            <div class="clear"></div>

          </div>


          <div class="featured-image-holder">
            <div class="featured-post-image" style="background-image: url('../../../assets/images/cray.jpg')"></div>

          </div>
          <div class="clear"></div>
        </div>