        <div id="content" class="site-content center-relative">
          <div class="single-post-wrapper content-1070 center-relative">

            <article class="center-relative">
              <h1 class="entry-title">
                Dominio digital
              </h1>

              <div class="entry-content">
                <div class="content-wrap content-660 center-relative">
                  <p>En esta época laboral, la tecnología nos brinda diferentes herramientas para realizar nuestro
                    trabajo, estas pueden ser físicas y/o lógicas. Su función es ayudarnos para ser mejores y más
                    productivos. Por la parte de las herramientas lógicas o intangibles nos referimos a los programas de
                    computadora. Desde hace tiempo nuestra habilidad puede ser medida en base a las herramientas que
                    conozcamos y dominemos. Mientras más cosas dominemos nuestro abanico de posibilidades es mayor.</p>
                  <br>
                </div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Ubuntu</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema operativo</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Windows Vista</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema operativo</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Windows 7</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema operativo</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Windows 8</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema operativo</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Windows 10</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema operativo</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Xampp</li>
                    </ul>
                  </div>
                  <div class="entry-date published">paquete de software para servidor</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Wamp</li>
                    </ul>
                  </div>
                  <div class="entry-date published">paquete de software para servidor</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">vagrant</li>
                    </ul>
                  </div>
                  <div class="entry-date published">entornos de desarrollo virtualizados</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Adobe Dreamweaver</li>
                    </ul>
                  </div>
                  <div class="entry-date published">aplicación en programa de estudio para construcción, diseño y
                    edición de sitios, vídeos y aplicaciones Web</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Adobe Photoshop</li>
                    </ul>
                  </div>
                  <div class="entry-date published">editor de gráficos rasterizados</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Adobe Fireworks</li>
                    </ul>
                  </div>
                  <div class="entry-date published">editor de gráficos vectoriales y mapas de bits</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Adobe Illustrator</li>
                    </ul>
                  </div>
                  <div class="entry-date published">editor de gráficos vectoriales</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Sony Vegas Pro</li>
                    </ul>
                  </div>
                  <div class="entry-date published">Sistema de edición de vídeo</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Audacity</li>
                    </ul>
                  </div>
                  <div class="entry-date published">aplicación informática multiplataforma, para grabación y edición de
                    audio</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Toad for Oracle</li>
                    </ul>
                  </div>
                  <div class="entry-date published">aplicación informática de desarrollo SQL y administración de base de
                    datos</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">SQL Server</li>
                    </ul>
                  </div>
                  <div class="entry-date published">sistema de gestión de base de datos</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Sublime Text</li>
                    </ul>
                  </div>
                  <div class="entry-date published">entorno de desarrollo integrado</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Visual studio code</li>
                    </ul>
                  </div>
                  <div class="entry-date published">entorno de desarrollo integrado</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">phpstorm</li>
                    </ul>
                  </div>
                  <div class="entry-date published">entorno de desarrollo integrado</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">VirtualBox</li>
                    </ul>
                  </div>
                  <div class="entry-date published">software de virtualización para arquitecturas x86/amd64</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">FileZilla</li>
                    </ul>
                  </div>
                  <div class="entry-date published">programa para transferencia de archivos ftp</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">MySQL Workbench</li>
                    </ul>
                  </div>
                  <div class="entry-date published">herramienta visual de diseño de bases de datos</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">MySQL Query Browser</li>
                    </ul>
                  </div>
                  <div class="entry-date published">herramienta gráfica para crear, ejecutar, y optimizar consultas
                  </div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">MySQL Administrator</li>
                    </ul>
                  </div>
                  <div class="entry-date published">administración de servidores de Bases de Datos de MySQL</div>
                  <div class="clear"></div>
                </div>

                <div class="post-info content-660 center-relative">
                  <div class="cat-links">
                    <ul>
                      <li style="color: #d12a10;">Microsoft Office</li>
                    </ul>
                  </div>
                  <div class="entry-date published">paquete de programas informáticos para oficina</div>
                  <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </article>
          </div>
        </div>