<!-- Preloader Gif -->
<table class="doc-loader">
  <tbody>
    <tr>
      <td>
        <img src="../../../assets/images/tenta.webp" alt="Cargando...">
      </td>
    </tr>
  </tbody>
</table>

<!-- Left Sidebar -->
        <div id="sidebar" class="sidebar">
          <div class="menu-left-part">

            <div class="site-info-holder">
              <h1 class="site-title">César</h1>
              <p class="site-description">
                Programador con experiencia y compromiso en el desarrollo de sistemas.
              </p>
            </div>
            <nav id="header-main-menu">
              <ul class="main-menu sm sm-clean">
                <li><a [routerLink]="['/me']">Acerca de mi</a></li>
                <li><a [routerLink]="['/experiencia']">Experiencia profesional</a></li>
                <li><a [routerLink]="['/logros']">Logros</a></li>
                <li><a [routerLink]="['/educacion']">Educación profesional</a></li>
                <li><a [routerLink]="['/conocimientos']">Conocimientos y habilidades</a></li>
                <li><a [routerLink]="['/software']">Dominio de software</a></li>
              </ul>
            </nav>

          </div>
          <div class="menu-right-part">
            <div class="logo-holder">
              <a [routerLink]="['']">
                <img src="../../../assets/images/krakenjs.png" alt="Suppablog WP">
              </a>
            </div>
            <div class="toggle-holder">
              <div id="toggle">
                <div class="menu-line"></div>
              </div>
            </div>
            <div class="social-holder">
              <div class="social-list">
                <a [routerLink]="['/me']"><i class="fa fa-black-tie"></i></a>
                <a [routerLink]="['/experiencia']"><i class="fa fa-code"></i></a>
                <a [routerLink]="['/logros']"><i class="fa fa-trophy"></i></a>
                <a [routerLink]="['/educacion']"><i class="fa fa-university"></i></a>
                <a [routerLink]="['/conocimientos']"><i class="fa fa-cogs"></i></a>
                <a [routerLink]="['/software']"><i class="fa fa-desktop"></i></a>
              </div>
            </div>
            <div class="fixed scroll-top"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></div>
          </div>
          <div class="clear"></div>
        </div>